In [1]:
import pandas as pd

In [25]:
YEAR = 2016

In [26]:
df = pd.read_csv('it_{}_raw.csv.gz'.format(YEAR), converters={'recipient_postcode': str})
df.head()

,recipient_id,recipient_location,recipient_name,recipient_postcode,total_amount
0,f-in-a-f-first-internetional-association-fruit...,"CASTENASO, BOLOGNA",F.IN.A.F. FIRST INTERNETIONAL ASSOCIATION FRUI...,40055,38288495.21
1,aop-gruppo-vi-va-visione-valore-societa-cooper...,"CESENA, FORLI' - CESENA",AOP GRUPPO VI.VA. VISIONE VALORE SOCIETA' COOP...,47522,22543307.21
2,vi-p-gen-landw-gesellschaft-39021-laces-latsch...,"LACES .LATSCH., BOLZANO",VI.P GEN. LANDW. GESELLSCHAFT,39021,9550771.61
3,vi-p-gen-landw-gesellschaft-39021-laces-latsch...,"LACES .LATSCH., BOLZANO",VI.P GEN. LANDW. GESELLSCHAFT,39021,9550771.61
4,aop-unolombardia-societa-agricola-consortile-p...,"SAN GIULIANO MILANESE, MILANO",AOP UNOLOMBARDIA SOCIETA' AGRICOLA CONSORTILE ...,20098,9378732.79

In [27]:
len(df)

273300

In [28]:
(~df.duplicated()).sum()

160857

In [29]:
df = df[~df.duplicated()]
len(df)

160857

In [30]:
df = df.rename(columns={'total_amount': 'amount'})
df['scheme'] = '__total__'
df['recipient_postcode'] = df['recipient_postcode'].apply(lambda x: x.replace('.0', '').zfill(5))
df['currency'] = 'EUR'
df['country'] = 'IT'
df.head()

,recipient_id,recipient_location,recipient_name,recipient_postcode,amount,scheme,currency,country
0,f-in-a-f-first-internetional-association-fruit...,"CASTENASO, BOLOGNA",F.IN.A.F. FIRST INTERNETIONAL ASSOCIATION FRUI...,40055,38288495.21,__total__,EUR,IT
1,aop-gruppo-vi-va-visione-valore-societa-cooper...,"CESENA, FORLI' - CESENA",AOP GRUPPO VI.VA. VISIONE VALORE SOCIETA' COOP...,47522,22543307.21,__total__,EUR,IT
2,vi-p-gen-landw-gesellschaft-39021-laces-latsch...,"LACES .LATSCH., BOLZANO",VI.P GEN. LANDW. GESELLSCHAFT,39021,9550771.61,__total__,EUR,IT
4,aop-unolombardia-societa-agricola-consortile-p...,"SAN GIULIANO MILANESE, MILANO",AOP UNOLOMBARDIA SOCIETA' AGRICOLA CONSORTILE ...,20098,9378732.79,__total__,EUR,IT
5,unaprol-consorzio-olivicolo-italiano-societa-c...,"ROMA, ROMA",UNAPROL - CONSORZIO OLIVICOLO ITALIANO SOCIETA...,00187,9045521.62,__total__,EUR,IT

In [31]:
'{:,}'.format(df['amount'].sum())

'2,105,142,606.7500005'

In [32]:
df.to_csv('it_{}.csv.gz'.format(YEAR), compression='gzip', index=False)