In [1]:
import pandas as pd

In [3]:
def get_year(year):
    df = pd.read_csv('data/dk_%s_raw.csv.gz' % year, encoding='latin-1', delimiter=';', compression='gzip')
    df['year'] = year
    return df

df = pd.concat([get_year(year) for year in [2016]])
df.head()

/Users/sw/.virtualenvs/notebook36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2910: DtypeWarning: Columns (5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Navn,Kommune,Postnr,Region,Measure,EU(DKK),National(DKK),Sum(DKK),Totalt(DKK),Unnamed: 9,year
0,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,(a) measures aimed at promoting knowledge and ...,7.097.796,7.097.796,14.195.593,68.153.087,NaN,2016
1,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,(b)measures aimed at restructuring and develop...,2.603.368,2.603.368,5.206.736,68.153.087,NaN,2016
2,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,co-operation,24.272.288,6.068.072,30.340.360,68.153.087,NaN,2016
3,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,Information and promotion measures Regulation ...,4.357.825,0,4.357.825,68.153.087,NaN,2016
4,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,knowledge transfer and information actions,11.242.059,2.810.515,14.052.574,68.153.087,NaN,2016

In [4]:
df['year'].value_counts()

2016    162610
Name: year, dtype: int64

In [5]:
import re
from slugify import slugify

NUM_RE = re.compile('\[Anonym - (\d+)\]')
get_id = lambda x: NUM_RE.match(x).group(1)
df['recipient_id'] = df.apply(lambda x: 'DK-%s' % get_id(x['Navn']) if x['Navn'].startswith('[Anonym - ') else
                                        'DK-%s-%s' % (x['Postnr'], slugify(x['Navn'])), 1)
df['Navn'] = df['Navn'].apply(lambda x: '' if x.startswith('[Anonym - ') else x)
df.head()

,Navn,Kommune,Postnr,Region,Measure,EU(DKK),National(DKK),Sum(DKK),Totalt(DKK),Unnamed: 9,year,recipient_id
0,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,(a) measures aimed at promoting knowledge and ...,7.097.796,7.097.796,14.195.593,68.153.087,NaN,2016,DK-1609-landbrug-fodevarer
1,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,(b)measures aimed at restructuring and develop...,2.603.368,2.603.368,5.206.736,68.153.087,NaN,2016,DK-1609-landbrug-fodevarer
2,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,co-operation,24.272.288,6.068.072,30.340.360,68.153.087,NaN,2016,DK-1609-landbrug-fodevarer
3,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,Information and promotion measures Regulation ...,4.357.825,0,4.357.825,68.153.087,NaN,2016,DK-1609-landbrug-fodevarer
4,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,knowledge transfer and information actions,11.242.059,2.810.515,14.052.574,68.153.087,NaN,2016,DK-1609-landbrug-fodevarer

In [6]:
df['recipient_location'] = df.apply(lambda x: '%s, %s' % (x['Kommune'], x['Region']), 1)

df = df.rename(columns={
    'Navn': 'recipient_name',
    'Postnr': 'recipient_postcode',
    'Measure': 'scheme',
    'EU(DKK)': 'amount'
})

df['currency'] = 'DKK'
df['country'] = 'DK'
df['year'] = 2014
df.head()

,recipient_name,Kommune,recipient_postcode,Region,scheme,amount,National(DKK),Sum(DKK),Totalt(DKK),Unnamed: 9,year,recipient_id,recipient_location,currency,country
0,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,(a) measures aimed at promoting knowledge and ...,7.097.796,7.097.796,14.195.593,68.153.087,NaN,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK
1,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,(b)measures aimed at restructuring and develop...,2.603.368,2.603.368,5.206.736,68.153.087,NaN,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK
2,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,co-operation,24.272.288,6.068.072,30.340.360,68.153.087,NaN,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK
3,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,Information and promotion measures Regulation ...,4.357.825,0,4.357.825,68.153.087,NaN,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK
4,Landbrug & Fødevarer,Københavns Kommune,1609,Region Hovedstaden,knowledge transfer and information actions,11.242.059,2.810.515,14.052.574,68.153.087,NaN,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK

In [7]:
df = df.drop(['Kommune', 'Region', 'National(DKK)', 'Sum(DKK)', 'Totalt(DKK)', 'Unnamed: 9'], 1)
df.head()

,recipient_name,recipient_postcode,scheme,amount,year,recipient_id,recipient_location,currency,country
0,Landbrug & Fødevarer,1609,(a) measures aimed at promoting knowledge and ...,7.097.796,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK
1,Landbrug & Fødevarer,1609,(b)measures aimed at restructuring and develop...,2.603.368,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK
2,Landbrug & Fødevarer,1609,co-operation,24.272.288,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK
3,Landbrug & Fødevarer,1609,Information and promotion measures Regulation ...,4.357.825,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK
4,Landbrug & Fødevarer,1609,knowledge transfer and information actions,11.242.059,2014,DK-1609-landbrug-fodevarer,"Københavns Kommune, Region Hovedstaden",DKK,DK

In [8]:
len(df)

162610

In [9]:
df['amount'] = pd.to_numeric(df['amount'].str.replace('.', '').str.replace(',', '.'))

In [10]:
df['amount'].sum()

6483831869.0

In [11]:
df.to_csv('dk_2016.csv.gz', index=False, encoding='utf-8', compression='gzip')